.jumbotron {
  background-image: url("/assets/img/jum.jpeg");
  background-position: center;
  background-size: cover;
  height: 550px;
  text-shadow: 0 0 5px #000;
  font-family: "Seymour One", sans-serif;
  padding: 100px 30px 0 30px;
}

.jumbotron p {
  margin-top: 94px;
  font-size: 25px;
}

:host {
  display: block;
  color: #fff; 
}


.nosotros {
  padding: 0 0 20px 0;
}

.nleft-image {
  width: 100%;
  height: 100%;
  min-height: 420px;
  object-fit: cover;
  display: block;
}

.nright {
  padding: 32px;
}

/* Cards */
.feat {
  overflow: hidden;
  transition: transform 200ms ease, box-shadow 200ms ease;
}

.feat:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.18);
}

.card-img-top {
  height: 240px;
  width: 100%;
  object-fit: cover;
}

/* footer */
.footer {
  background: rgba(0, 0, 0, 0.25);
}

.logo {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 12px;
}

.red {
  width: 32px;
  height: 32px;
}
