.jumbotron {
  background-image: url("/assets/img/jum.jpeg");
  background-position: center;
  background-size: cover;
  height: 550px;
  text-shadow: 0 0 5px #000;
  font-family: "Seymour One", sans-serif;
  padding: 100px 30px 0 30px;
}

.jumbotron p {
  margin-top: 94px;
  font-size: 25px;
}

@keyframes floating {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.floating {
  animation: floating 3s ease-in-out infinite;
}

h2 {
  font-family: "Seymour One", sans-serif;
  background-color: rgb(8, 102, 97);
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-bottom: 0;
}

.servicios {
  background-color: rgb(8, 102, 97);
  border: 2px solid rgb(8, 102, 97);
  padding-bottom: 30px;
}

.feat {
  border: 3px solid rgb(0, 0, 0);
  padding: 12px;
}

.feat h4 {
  font-family: "Seymour One", sans-serif;
  text-align: center;
  color: white;
  font-size: 30px;
}

.feat p {
  font-family: "Bebas Neue", sans-serif;
  color: white;
  font-size: 18px;
}

.feat img {
  object-fit: cover;
  width: 100%;
}

.card-img-top {
  width: 100%;
  height: 260px;         /* ajustá si querés */
  object-fit: cover;
}
