<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Cacaao☕</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavbar"
      aria-controls="collapsibleNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link"
            routerLink="/cafe"
            routerLinkActive="active-link">
            Café
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
            routerLink="/acompanamientos"
            routerLinkActive="active-link">
            Acompañamientos
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
            routerLink="/tentate"
            routerLinkActive="active-link">
            Tentate
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
